$white: #ffffff;
$dark-brown: #301800;
$light-gray: #d0c8c0;
$orange: #c04000;
$dark-orange: #e87000;
$color-text: #d0c8c0;
$color-highlight: #ffffff;
$color-highlight-alt: #ffffcc;
$color-code: #aaaaaa;
$color-code-alt: #0000aa;
$color-keyword: #0000aa;
$color-operator: #4c8317;
$color-string: #1e90ff;
$color-comment: #aa5500;
$color-variable: #aa0000;
$color-function: #009999;
$color-other: #bbbbbb;

// for timeline 
$black: #1a1a1a;
$gray: #ccc;
$darkgray: #333;
$shadow: rgba(0, 0, 0, 0.2);