---
---

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{{ page.title }}</title>
    <script
      src="https://kit.fontawesome.com/397da4f0be.js"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    {% if page.description %}
    <meta name="description" content="{{ page.description | escape }}" />
    {% else %}
    <meta
      name="description"
      content="Anant Saxena, CSE final year Undergraduate, IIT (BHU) Varanasi, India."
    />
    <meta
      name="keywords"
      content="Anant Saxena, IIT (BHU) Varanasi, Computer Science, B. Tech, CSE, Indian Institute of Technology, Banaras Hindu University, Anant Saxena's CV, Anant Saxena's resume"
    />
    {% endif %}
    <meta name="author" content="Anant Saxena" />
    {% if page.canonical_url %}
    <link rel="canonical" href="{{ page.canonical_url }}" />
    {% endif %}
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
    {% if page.rss_url %}
    <link
      rel="alternate"
      type="application/rss+xml"
      href="{{ page.rss_url }}"
      title="RSS feed"
    />
    {% endif %}
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>

  <body>
    <div id="container">
      {% include header.html %}
      <div id="content">{{ content }}</div>
    </div>

    <!-- separate footer with a horizontal rule -->
    {% include footer.html %}

    <script
      data-goatcounter="https://loudmouth.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
  </body>
</html>
